@import 'mixins/mixins';
@import 'mixins/animate-custom';

$blue: #145D84;
$gold: #F1CB6B;
$gray: #ddd;

body {
	font-family: pt-sans, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

h1, h2, h3, h4 {
	line-height: 1.2em;
}

a {
	color: $blue;
	text-decoration: none;
	border-bottom: 1px solid $gray;
	padding-bottom: 1px;
}

.container {
	max-width: 750px;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0;
}

.hero {
	background: url('../images/meeting.jpg') center no-repeat;
	width: 100%;
	border-bottom: 10px solid $blue;
	border-top: 10px solid $gold;
	height: 300px;
	padding: 0px;
	margin: 0;
	background-size: 70%;
	overflow:none;
}

.header {
	background: url('../images/logo.png') left center no-repeat;
	height: 100px;
	width: 700px;
	margin: 0px auto;
	padding-top: 90px;
	background-size: 120px;
}

.navigation {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif;
	ul {
		padding: 0;
		margin: 0;
		text-align: right;
		li {
			list-style: none;
			display: inline;
			padding: 0;
			margin: 0px 2px;
			a {
				font-size: .80em;
				letter-spacing: 1px;
				text-decoration: none;
				color: #fbfbfb;
				padding: 6px 10px;
				text-transform: uppercase;
				border: 1px solid $blue;
				@include box-shadow(2px, 2px, 2px, #ddd);
				@include gradient(lighten($blue, 10%), $blue);
				&:hover {
					@include gradient(lighten($blue, 5%), darken($blue, 5%));
				}
				// &:active {
				// 	position: relative;
				// 	top: 1px;
				// 	left: 1px;
				// 	@include gradient($blue, darken($blue, 5%));
				// 	@include box-shadowed;
				// }
			}
		}
	}
}

.content {
	background: #fff;
	max-width: 520px;
	margin: 0px auto;
	// @include box-shadowed;
	h1 {
		background-color: $blue;
		color: #fff;
		text-align: center;
		margin: 0;
		padding: 20px 100px;
		margin-left: -100px;
		width: 100%;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	h2 {
		margin-top: 1.5em;
		text-transform: uppercase;
		font-size: 1em;
	}

	img {
		max-width: 100%;
		width: 50%;
		margin: 1em 0 3em;
		display: block;
	}
}

iframe {
	max-width: 100%;
}

blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 20px;
}

@media screen and (max-width: 750px) {
	.hero {
		display: none;
	}

	.header {
		width: 100%;
		margin: 10px auto;
		height: auto;
		background-position: top center;
		padding-top: 120px;
	}
  .navigation {
		ul {
			text-align: center;
			li {
				list-style: none;
				display: block;
				padding: 0;
				margin: 10px 0px;
				a {
					display: block;
					margin: 0 auto;
					width: 90%;
					color: #fbfbfb;
				}
			}
		}
	}
	.content {
		margin-top: 30px;
		h1 {
			padding: 10px 0px;
			margin: 0;
		}
	}
}



