@import 'mixins/mixins';
@import 'mixins/animate-custom';

$blue: #145D84;
$gold: #F1CB6B;
$gray: #ddd;

$page_width: 700px;

$serif: "Georgia Pro", Georgia, serif;
$sans: "Source Sans Pro", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900);

*, html {
		-moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
	font-family: $serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, .button {
	// line-height: 1.2em;
	font-family: $sans;
}

a {
	color: $blue;
	text-decoration: none;
	border-bottom: 1px solid $gray;
	padding-bottom: 1px;
}

.container {
	max-width: $page_width;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0;
}

.hero {
	background: url('../images/meeting.jpg') center no-repeat;
	// width: 100%;
	background-color: #ddd;
	height: 100%;
	// border-bottom: 30px solid $blue;
	border-bottom: 30px solid $gold;
	// height: 300px;
	padding: 0;
	margin: 0;
	background-size: cover;
	// background-size: 70%;
	// overflow:none;

	section {
		@include vertical-align;
		max-width: $page_width;
		margin: 0 auto;
	}
	h1 {
		line-height: 1.2em;
		font-weight: 100;
		color: #fff;
		font-size: 5rem;
	}
	.button {
		padding: .5em 1em;
		border: solid #fff 3px;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		font-size: 2em;
		letter-spacing: 2px;
		border-radius: 100px;
		display: inline-block;
	}
}

.header {
	background: url('../images/logo.png') left center no-repeat;
	max-width: $page_width;
	margin: 2em auto;
	// padding-top: 90px;
	border-bottom: 20px solid $blue;
	padding: 3em 0;
	background-size: 150px;
}

.navigation {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif;
	ul {
		padding: 0 0 0 1em;
		margin: 0;
		// margin-left: 200px;
		text-align: right;
		border-right: 10px solid $blue;
		padding-right: 1rem;
		li {
			list-style: none;
			// display: inline;
			padding: 0;
			margin: 0px;
			a {
				display: inline-block;
				font-size: .9em;
				letter-spacing: 1px;
				text-decoration: none;
				color: #fbfbfb;
				padding: .1rem 1rem;
				margin: .2rem 0;
				text-transform: uppercase;
				background-color: $blue;
				border-radius: 50px;
				// @include box-shadow(2px, 2px, 2px, #ddd);
				// @include gradient(lighten($blue, 10%), $blue);
				&:hover {
					background-color: $gold;
					// @include gradient(lighten($blue, 5%), darken($blue, 5%));
				}
				// &:active {
				// 	position: relative;
				// 	top: 1px;
				// 	left: 1px;
				// 	@include gradient($blue, darken($blue, 5%));
				// 	@include box-shadowed;
				// }
			}
		}
	}
}

.content {
	background: #fff;
	max-width: $page_width;
	margin: 0px auto;
	// @include box-shadowed;
	h1 {
		font-weight: 200;
		font-size: 3em;
		text-align: left;
		margin: .5em 0;
		padding: .5em;
		letter-spacing: 2px;
		border-left: 10px solid $gold;
		line-height: 1.1em;
	}

	h2 {
		margin-top: 1.5em;
		text-transform: uppercase;
		font-size: 2em;
	}

	img {
		max-width: 100%;
		width: 50%;
		margin: 1em 0 3em;
		display: block;
	}
}

.footer {
	max-width: 100%;
	background-color: $gold;
	text-align: center;
	height: 50px;
	font-size: 3em;
	font-weight: 100;
}

iframe {
	max-width: 100%;
}

blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 20px;
}

@media screen and (max-width: 750px) {
	.hero {
		display: none;
	}

	.header {
		width: 100%;
		margin: 10px auto;
		height: auto;
		background-position: top center;
		padding-top: 120px;
	}
  .navigation {
		ul {
			text-align: center;
			li {
				list-style: none;
				display: block;
				padding: 0;
				margin: 10px 0px;
				a {
					display: block;
					margin: 0 auto;
					width: 90%;
					color: #fbfbfb;
				}
			}
		}
	}
	.content {
		margin-top: 30px;
		h1 {
			padding: 10px 0px;
			padding-left: .5em;
			font-size: 2em;
			margin: 0;
		}
	}
}



