@import 'mixins';
@import 'animate-custom';

$blue: #145D84;
$gold: #F1CB6B;

body {
	font-family: pt-sans, sans-serif;
	margin: 0px 0px 100px;
	padding: 0;
	line-height: 1.5em;
}

a {
	color: $blue;
}

.container {
	max-width: 600px;
	width: 85%;
	margin: 0 auto;
	padding: 0;
}

.header {
	background: url('../images/logo_crest.png') center no-repeat;
	height: 200px;
	width: 100%;
	margin: 30px auto;
	background-size: 30%;
}

.navigation {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', Calibri, sans-serif;
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
		li {
			list-style: none;
			display: inline;
			padding: 0;
			margin: 0px 2px;
			a {
				text-decoration: none;
				color: #fbfbfb;
				padding: 6px 10px;
				text-transform: uppercase;
				border: 1px solid $blue;
				@include box-shadow(2px, 2px, 2px, #ddd);
				@include gradient(lighten($blue, 10%), $blue);
				&:hover {
					@include gradient(lighten($blue, 5%), darken($blue, 5%));
				}
				&:active {
					position: relative;
					top: 1px;
					left: 1px;
					@include gradient($blue, darken($blue, 5%));
					@include box-shadow(2px, 2px, 2px, #ddd);
				}
			}
		} 
	}
}

.content {
	padding: 10px 20px;
	border: 1px solid #ddd;
	top: 30px;
	position: relative;
	@include box-shadow(2px, 2px, 0px, #ddd);
	h1, h2, h3 {
		text-align: center;
	}
}

blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 20px;
}