<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="http://use.edgefonts.net/pt-sans.js"></script>
  </head> 
  <body>
  	<div class="container">
  		<!-- <div class="header animated bounceInDown"> -->
      <div class="header">
  		</div>
  		
  		<div class="navigation">
			<ul>
				<li><a href="index.html">Home</a></li>
        <li><a href="join.html">Join</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="resources.html">Resources</a></li>
				<li><a href="contact.html">Contact us</a></li>
			</ul>
  		</div>
  		
  		<div class="content">
	    {{ content }}
	    </div>
    </div>	
  </body>
</html>