<html>
  <head>
    <title>{{ page.title }} | KSU ATC</title>
    {% include head.html %}
    {% include googlytics.html %}
    {% include scripts.html %}
  </head> 
  <body>
  	<div class="container">
  		<div class="header animated bounceInDown">
  		</div>
  		
  		<div class="navigation">
			<ul>
				<li><a href="/index.html">Home</a></li>
        <!-- <li><a href="/join.html">Join</a></li> -->
        <li><a href="/membership.html">Membership</a></li>
        <li><a href="/calendar.html">Calendar</a></li>
        <li><a href="/resources.html">Resources</a></li>
				<li><a href="/contact.html">Contact us</a></li>
			</ul>
  		</div>
  		
  		<div class="content">
	    {{ content }}
	    </div>
    </div>	
    
<script>
  $.backstretch("/assets/images/meeting.jpg");
</script>
  </body>
</html>