<html>
<head>
<title>{{ page.title }} | KSU ATC</title>
{% include head.html %}
{% include googlytics.html %}
<script src="/livereload.js"></script>

</head>
<body>
<div class="hero">
<section>
<h1 class="hero-text">Welcome to KAO.<br>Upward and onward.</h1>
<a class="button" href="#content">Explore &darr;</a>
</section>
</div>

{% include nav.html %}

<div class="container">
<div class="content">
{{ content }}
</div>
</div>

<section class="footer">
</section>

{% include scripts.html %}
</body>
</html>